<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whale Audio Classifier</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <h1>Whale Audio Classification System</h1>
    <h2>By Basiten Orbigo and Furqan Kassa</h2>
    <h3>{{message}}</h3>
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" />
    </form>
</body>
</html>